* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 375px;
}

:root {
  --primary-color-1: hsl(171, 66%, 44%);
  --primary-color-2: hsl(233, 100%, 69%);
  --neutral-color-1: hsl(210, 10%, 33%);
  --neutral-color-2: hsl(201, 11%, 66%);
  --primary-font: "Bai Jamjuree", sans-serif;
}

.general-container {
  height: 500px;
  background-image: url(/clipboard-landing-page-master/images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: top left;
}


.top-logo {
  text-align: center;
}

.general-container .wrapper .top-logo img {
  width: 20%;
  margin-top: 3rem;
}

.general-container .wrapper .content-container h1 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Bai Jamjuree", sans-serif;
  width: 75%;
  text-align: center;
  margin: 4rem auto;
  color: var(--neutral-color-1);
}

.general-container .wrapper .content-container p {
  width: 95%;
  text-align: center;
  line-height: 1.9rem;
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--primary-font);
  display: block;
  margin: 0 auto;
  color: var(--neutral-color-2);
  position: relative;
  top: -2rem;
}

.content-container span {
  display: block;
}

.content-container span {
  display: block;
}

/* Top buttons */
.content-container .btns-flex-cta {
  display: flex;
  flex-direction: column;
}

.content-container .btns-flex-cta button {
  padding: 0.9rem 1.3rem;
  width: 70%;
  display: block;
  margin: 0.5rem auto;
  border-radius: 3rem;
  font-size: 1.12rem;
  font-weight: 700;
  font-family: var(--primary-font);
  background-color: var(--primary-color-1);
  border: none;
  cursor: pointer;
  color: #fff;
}

.content-container .btns-flex-cta .btn-blue {
  background-color: var(--primary-color-2);
}

/* Hero section with contents */

.snippet-wrapper .snippet-container h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--neutral-color-1);
  width: 75%;
  margin: 12rem 0 0 2.5rem;
}

.snippet-wrapper .snippet-container span {
  margin-left: 0.8rem;
  display: inline;
}

.snippet-wrapper .snippet-container .snippets-text {
  margin-left: 4rem;
}

.snippet-wrapper .snippet-container p {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  margin: 1rem auto;
  line-height: 1.6rem;
  color: var(--neutral-color-2);
  width: 86%;
  padding: 0.7rem;
  text-align: center;
}

/* Content Hero section */

.container-hero-contents {
  text-align: center;
}

.container-hero-contents .container-hero img {
  width: 300px;
}

.container-hero-contents .contents-container .container-item h3 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--neutral-color-1);
}

.container-hero-contents .contents-container .container-item {
  margin-top: 2rem;
}

.container-hero-contents .contents-container .container-item p {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--neutral-color-2);
  width: 89%;
  margin: 0 auto;
}

/* Major hero */

.general-hero-container {
  text-align: center;
}

.general-hero-container .header-paratext-container h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--neutral-color-1);
  width: 67%;
  margin: 3rem;
}

.general-hero-container .header-paratext-container p {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--neutral-color-2);
  width: 89%;
  display: block;
  margin: 0 auto;
}

.general-hero-container .hero-container img {
  margin-top: 5rem;
}

.container-header h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  width: 70%;
  margin: 4rem 0 0 3.5rem;
}

.container-header p {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  width: 87%;
  margin: 1.2rem;
}

/* First Icons */

.grid-container {
  text-align: center;
}

.grid-container .icons-cta img {
  width: 10%;
  margin-top: 4rem;
}

.grid-container .icons-cta h3 {
  font-size: 1.2rem;
  font-family: var(--primary-font);
  font-weight: 600;
  margin-top: 1.7rem;
  color: var(--neutral-color-1);
}

.grid-container .icons-cta p {
  font-size: 1.12rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--neutral-color-2);
  margin-top: 1rem;
  width: 98%;
  padding: 0.8rem;
}

/* Companies logo */

.grid-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-icon-container .company-logo img {
  margin: 2.5rem 0 0 2rem;
  width: 50%;
  display: block;
  text-align: center;
}

.grid-icon-container .google img {
  margin-top: 5.9rem;
}

.company-logo:last-child {
  margin-bottom: 4rem;
}

/* General container section */

.general-wrapper {
  text-align: center;
  margin-bottom: 7rem;
}

.general-wrapper .header-texts h2 {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--neutral-color-1);
  width: 90%;
  display: block;
  margin: 0 auto;
}

.general-wrapper .header-texts .ios-macos {
  display: inline;
}

.general-wrapper .header-texts p {
  font-size: 1.12rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--neutral-color-2);
  padding: 1rem;
}

.header-texts span {
  display: block;
}

.general-wrapper .flex-cta-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.general-wrapper .flex-cta-btn button {
  padding: 0.5rem 1.1rem;
  width: 65%;
  margin: 0.6rem 0;
  border-radius: 2rem;
  border: none;
  color: #fff;
  background-color: var(--primary-color-1);
  font-family: var(--primary-font);
  font-size: 1.12rem;
  font-weight: 400;
}

.general-wrapper .flex-cta-btn .btn-blue {
  background-color: var(--primary-color-2);
}

/* links section */
footer .flex-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

footer .flex-footer-container a {
  text-decoration: none;
}

footer .flex-footer-container .footer-logo-cta img {
  width: 25%;
  align-self: flex-start;
  margin: 3rem 0 0 5rem;
  padding-bottom: 1rem;
  display: block;
}

footer .flex-footer-container .faq-contact-cta .faq-contact-link a {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--neutral-color-2);
  line-height: 2.5rem;
}

footer .flex-footer-container .privacy-kits-link a {
  font-size: 1.12rem;
  font-weight: 400;
  font-family: var(--primary-font);
  color: var(--neutral-color-2);
  line-height: 2.5rem;
}

footer .flex-footer-container .faq-contact-cta .faq-contact-link:first-child a {
  margin-left: 1.5rem;
}

footer .flex-footer-container .privacy-kits-link:nth-child(2) a {
  margin-left: 1.2rem;
}

footer .flex-footer-container .social-links {
  margin: 1.5rem 0 1rem 0;
}

footer .flex-footer-container .social-links img:first-child {
  padding-right: 2.7rem;
}

footer .flex-footer-container .social-links img:last-child {
  padding-left: 2.7rem;
}

/* Media Query */

@media screen and (min-width: 1440px) {
  
  html,
  body{
    min-width: 1440px;
    overflow-x: hidden;
  }

  /* Top part of the webpage */

 .general-container {
  background: url(/clipboard-landing-page-master/images/bg-header-desktop.png) no-repeat;
 }



  .general-container .wrapper .top-logo img {
    width: 7%;
  }

  .general-container .wrapper .content-container {
    max-width: 100%;
  }

  .general-container .wrapper .content-container h1 {
    max-width: 65%;
    font-size: 2.5rem;
  }

  .content-container span {
    display: inline;
  }

  .general-container .wrapper .content-container p {
    width: 45%;
  }

  /* Top button */
  .content-container .btns-flex-cta {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin-left: 21rem;
  }

  .content-container .btns-flex-cta button {
    max-width: 30%;
  }

  .content-container .btns-flex-cta .btn-green {
    margin-left: 12rem;
  }

  .content-container .btns-flex-cta .btn-blue {
    margin-right: 5.5rem;
  }

  /* Snippets */

  .snippet-wrapper {
    margin-top: 0;
  }

  .snippet-wrapper .snippet-container {
    width: 1440px;
    text-align: center;
  }

  .snippet-wrapper .snippet-container h2 {
    display: inline-block;
    font-size: 1.8rem;
  }

  .snippet-wrapper .snippet-container span {
    display: inline-block;
    margin-left: 0;
  }

  .snippet-container {
    width: 38%;
  }

  .snippet-wrapper .snippet-container p {
    max-width: 49%;
  }

  .snippet-wrapper .snippet-container .snippet-text-span {
    padding-left: 1rem;
  }

  /* Hero section */

  .container-hero-contents {
    width: 1440px;
    display: flex;
    justify-content: space-around;
  }

  .container-hero-contents .contents-container .container-item {
    text-align: left;
    margin: 3rem 6rem 0 0;
  }

  .container-hero-contents .contents-container .container-item h3 {
    line-height: 2.5rem;
    margin-left: 6rem;
    font-weight: 600;
    font-family: var(--primary-font);
  }

  .container-hero-contents .contents-container .container-item p {
    max-width: 65%;
  }

  .container-hero-contents .contents-container .container-item:last-child p {
    margin-bottom: 4rem;
  }

  .container-hero-contents .container-hero img {
    width: 70%;
    height: 100%;
    margin: 1.5rem 0 0 10rem;
  }

  /* Major Hero */
  .general-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1440px;
    margin-top: 5rem;
  }

  .general-hero-container .header-paratext-container h2 {
    margin-left: 8rem;
    font-size: 2.1rem;
    position: relative;
    top: 2rem;
  }

  .general-hero-container .header-paratext-container p {
    max-width: 77%;
    margin-top: 0;
  }

  .general-hero-container .hero-container img {
    width: 70%;
  }

  .general-hero-container .container-header h2 {
    width: 100%;
    font-size: 2rem;
    text-align: left;
    color: var(--neutral-color-1);
    font-family: var(--primary-font);
  }

  .general-hero-container .container-header p {
    max-width: 100%;
    text-align: right;
    margin-left: 3.3rem;
    color: var(--neutral-color-2);
  }

  /* First Icons */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .grid-container .icons-cta p {
    line-height: 1.4rem;
    max-width: 93%;
  }

  .grid-container .icons-cta img {
    margin: 1.8rem auto;
  }

  .grid-container .icons-cta h3 {
    line-height: 2.7;
  }

  .grid-container .icons-cta:first-child p {
    max-width: 29vw;
    line-height: 2;
  }

  .grid-container .icons-cta:nth-of-type(1) {
    transform: translateX(105px);
    align-self: flex-end;
    position: relative;
    top: 0.8rem;
  }

  .grid-container .icon-2 {
    position: relative;
    top: 0;
    left: 30px;
  }

  .grid-container .icon-2 p {
    max-width: 30vw;
    line-height: 2;
  }

  .grid-container .icon-3 {
    position: relative;
    top: 0.5rem;
    right: 75px;
  }

  .grid-container .icon-3 span {
    display: block;
  }

  .grid-container .icon-3 p {
    line-height: 2;
    max-width: 42vw;
  }

  /* Company Logo */

  .grid-icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 1440px;
    margin-top: 5rem;
  }

  .grid-icon-container .company-logo:first-child img {
    margin-left: 5rem;
    width: 45%;
  }

  .grid-icon-container .company-logo:nth-child(2n) img {
    width: 35%;
  }

  .grid-icon-container .company-logo:last-child img {
    position: relative;
    top: 2rem;
    right: 3.5rem;
  }

  /* iOS and MacOS contents */

  .general-wrapper {
    width: 1440px;
    text-align: center;
    margin-top: 5rem;
  }

  .general-wrapper .header-texts h2 {
    width: 70%;
  }

  .general-wrapper .header-texts span {
    display: inline-block;
  }

  .general-wrapper .header-texts .ios-macos {
    display: block;
    line-height: 1.8;
  }

  /* iOS button */
  .general-wrapper .ios-btn {
    display: inline;
  }

  .general-wrapper .ios-btn .btn-green-1 {
    padding: 0.9rem 1.3rem;
    width: 20%;
    border-radius: 3rem;
    font-size: 1.12rem;
    font-weight: 600;
    font-family: var(--primary-font);
    background-color: var(--primary-color-1);
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 1rem;
    cursor: pointer;
  }

  .general-wrapper .ios-btn .btn-blue-2 {
    padding: 0.9rem 1.3rem;
    width: 20%;
    border-radius: 3rem;
    font-size: 1.12rem;
    font-weight: 600;
    font-family: var(--primary-font);
    background-color: var(--primary-color-2);
    border: none;
    cursor: pointer;
    color: #fff;
    cursor: pointer;
  }

  /* Links section */
  footer .flex-footer-container {
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
  }

  footer .flex-footer-container .footer-logo-cta img {
    align-self: flex-end;
  }

  footer .flex-footer-container .social-links img {
    cursor: pointer;
  }

  footer .flex-footer-container .social-links img:last-child {
    margin-right: 10rem;
  }
}
